/* menu burger modal */
.menu_mobile {
    z-index: 69;
    display: none;
    position: absolute;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    padding-top: 3rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.menu_mobile_block_logo {
    font-size: 30vw;
    /* font-family: sans-serif; */
    font-weight: 700;
    margin: 1rem;
    top: 2rem;
    text-transform: uppercase;
}
.menu_mobile_title {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 1.5rem;
}
.navigation_mobile {
    width: 60%;
}
.navigation_mobile_link {
    font-size: 1rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
}
.navigation_mobile_link:hover {

}
.navigation_mobile_portfolio {
    margin-bottom: .2rem;
}
.navigation_mobile_portfolio:hover {
    cursor: default;  
}
.navigation_mobile__categories {
    display: flex;
    flex-direction: column;
}
.navigation_mobile__categories .navigation_mobile_link {
    margin: .5rem;
}
.menu_mobile_segment {
    width: 65%;
    margin: .5rem 6rem .5rem 6rem;
    height: .5px;
    border-right: .2rem;
}
.translateToTop {
    animation-name: translateToTop;
    animation-delay: 0;
    animation-duration: .4s;
    animation-iteration-count: 1;
}
@keyframes translateToTop {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
      transform: translateY(-20%);   
    }
}
.translateFromTop {
    animation-name: translateFromTop;
    animation-delay: 0;
    animation-duration: .5s;
    animation-iteration-count: 1;
}
@keyframes translateFromTop {
    0% {
      transform: translateY(-20%);
      opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
      transform: translateY(0%);   
    }
}
/* menu burger modal */

/* menu burger openner */
.burger_menu_openner_block {
    display: none;
}
.burger_menu_openner {
    position: fixed;
    bottom: 3rem;
    left: 1rem;
    z-index: 1000;
}
*,*::before,*:after{box-sizing: border-box}
.menu_hamburger {
    position: absolute;
    visibility: hidden;
}
.menu_hamburger+label{
    border-radius: .2rem;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    height: 40px;
    width: 45px;
}
.menu_hamburger+label span{
    position: absolute;	
    top: 50%;
    margin-top: -2px;
    width: 25px;
    height: 4px;
    border-radius: .2rem;
    transition: .2s;
}
.menu_hamburger+label span::before {
    position: absolute;
    content: '';
    width: inherit;
    height: inherit;
    background-color: inherit;
    top: -10px;
    border-radius: inherit;	
}
.menu_hamburger+label span::after {	
    position: absolute;
    content: '';
    width: inherit;
    height: inherit;
    background-color: inherit;
    bottom: -10px;
    border-radius: inherit;	
}		
.menu_hamburger:checked+label span{
    transform: rotate(45deg);
    transition: .2s;
}	
.menu_hamburger:checked+label span::before{
    top:unset;
}		
.menu_hamburger:checked+label span::after{
    bottom: unset;
    transform: rotate(-90deg);
}
@media (max-width: 450px) {
    .burger_menu_openner_block {
        display: block;
    }
}
/* menu burger openner */